@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}
.MadeCVApp {
  @apply min-h-full;
}

.lead-title {
  @apply text-lg font-semibold text-gray-800;
}

.playground {
  @apply min-h-full flex justify-center bg-fixed bg-gradient-to-br from-yellow-50 to-teal-50;

  aside.sidebar {
    @apply min-h-full bg-white/80 w-[calc(20%_-_40px)] p-5;

    &.leftside {
      @apply fixed left-0 top-0;
    }
    &.rightside {
      @apply fixed right-0 top-0;
    }
  }

  main.view {
    @apply min-h-full w-3/5 my-5 py-10 px-8 drop-shadow-lg bg-white rounded;

    header {
      @apply flex flex-col gap-5;

      h1.name {
        @apply text-5xl text-gray-800 font-bold;
      }

      p.summary {
        @apply text-gray-700;
      }

      section.important-links {
        ul {
          @apply flex gap-5 items-center;

          li {
            @apply bg-blue-50 rounded px-3 py-0.5;
          }
        }
      }
    }

    section.skills {
      @apply mt-10 flex flex-col gap-2;

      ul {
        li {
          p {
            @apply before:content-['-'] before:mx-2 text-gray-800;
          }
        }
      }
    }
    section.tech-stacks {
      @apply mt-10 flex flex-col gap-2;

      ul {
        @apply flex gap-5 items-center;

        li {
          @apply border border-gray-300 text-gray-800 rounded px-3 py-0.5;
        }
      }
    }

    section.work-history {
      @apply mt-10 flex flex-col gap-2;

      ul.history-list {
        @apply flex flex-col gap-5 items-center pt-5;

        li.history-list-item {
          @apply text-gray-800 border-t border-gray-100 py-5;

          article.work {
            @apply border-l py-2 flex flex-col gap-2 border-gray-400 pl-3;
            h3 {
              @apply font-semibold text-gray-800;
            }
            p.duration {
              @apply text-sm;
            }

            p.summary {
            }

            ul.work-points {
              @apply flex flex-col justify-center;
              li.point-item {
                @apply pl-2 flex before:content-['✅'] before:mr-1;
                p.point {
                }
              }
            }
          }
        }
      }
    }
  }
}
